.wrapper{
    
    width: 400px;
    
    padding: 20px 10px;
    
    

}
.form {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 2px solid rgb(10, 100, 10);
    border-radius: 10px;
    padding: 30px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
}
.label{
    display: flex;
    flex-direction: column;
    
    margin-bottom: 15px;
    color: rgb(100, 10, 10);
    font-weight: 700;
}
.label:not(:last-child){
    margin-bottom: 15px;
}
.input{
    margin: 15px 0 15px 30px;
    color: rgb(10, 100, 10);
    border-radius: 5px;
}

.button{
    border-radius: 5px;
    background-color: rgb(10, 100, 10);
    color: #fff;
    padding: 5px 10px;
    transition: 300ms;

}
.button:hover{
    
    background-color: rgb(100, 10, 10);
    color: #fff;
}