.button {
    border-radius: 5px;
    background-color: rgb(10, 100, 10);
    color: #fff;
    padding: 5px 10px;
    transition: 300ms;
    margin-left: 30px;

}

.button:hover {
    
    background-color: rgb(100, 10, 10);
    color: #fff;
}

.item:not(:last-child){
    margin-bottom: 10px;
    
}